img {
  width: 100%; display: block;
}

.videoContainer {
  position: relative;
}
.playBtn {
  position: absolute;
  width: 75px;
  height: 80px;
  left: 50%;
  top: 50%;
  margin-left: -50px;
  margin-top: -50px;
}

.index{
  z-index: 1000;
}

.img-fluid {
  max-width: 15vw;
  height: auto;
}

.title{
  font-weight: 900;
  font-size: 3vw;
  margin-left: -8vw;
  vertical-align:middle;
}

.channelName{
  margin-left: 8vw;
  margin-bottom: -2vw;
  z-index: 9999;
  font-weight: 900;
  transform: translate(-50%, -50%);
}

.adjustingvm{
  margin-top: -7vw;
  margin-left: -15vw;
}

.fontweight{
  font-weight: 1000;
}

.subTitle{
  margin-top: -1%;
}



/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
  
 }

/* Medium devices (tablets, 768px and up)  */
@media (min-width: 768px) { 
  
 }

/*  Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
  
 }

/*  X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
 
 }

/*  XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { 
 
 }

 .card-title{
  display: inline-block;
  width: 180px;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
 }

 

.form-control {
  border-radius:30px;
  border:1px solid darkblue;
  margin:0 auto;
  width: 70vw;

}

.w3-tag {
  font-size: x-small;
}


.fw500{
  font-weight: 500;
}



html,
body {
  transition: all 0.3s;
}


.icon-bar {
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.addVideo1{
  position: fixed;
  top: 1%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-weight: 500 !important;
  font-size: smaller;
}

.addVideo2{
  position: fixed;
  top: 12%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-weight: 500 !important;
  font-size: smaller;
}

.button-container {
  display: flex;
  align-items: right !important;
  height: 100%;
  margin-left: -2vw;
  margin-right: 0%;
  margin-top: 0;
}

.glass-btn {
  width: 100px;
  height: 100px;
  background-color: #fafafa;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 7px;
  margin-left: 1em;
  margin-right: 1em;
  cursor: pointer;
  transition: all 0.3s;
}
.glass-btn.blue-btn {
  box-shadow: 0px 20px 20px -17px rgba(0, 111, 255, 0.53);
}
.glass-btn.blue-btn:hover {
  box-shadow: 0px 20px 35px -16px rgba(0, 111, 255, 0.65);
}
.glass-btn.blue-btn .content {
  font-size: 4em;
  font-family: "Roboto", sans-serif;
  background: linear-gradient(to right, #006fff, #00acff 70%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0px 10px 37px rgba(0, 111, 255, 0.8);
}
.glass-btn.red-btn {
  box-shadow: 0px 20px 20px -17px rgba(255, 16, 39, 0.5);
}
.glass-btn.red-btn:hover {
  box-shadow: 0px 20px 35px -16px rgba(255, 16, 39, 0.57);
}
.glass-btn.red-btn .content {
  font-size: 4em;
  font-family: "Roboto", sans-serif;
  background: linear-gradient(to right, #ff1027, #ff4f06 70%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0px 10px 37px rgba(255, 16, 39, 0.6);
}
.glass-btn.amber-btn {
  box-shadow: 0px 20px 20px -17px rgba(255, 159, 16, 0.53);
}
.glass-btn.amber-btn:hover {
  box-shadow: 0px 20px 35px -16px rgba(255, 159, 16, 0.6);
}
.glass-btn.amber-btn .content {
  font-size: 4em;
  font-family: "Roboto", sans-serif;
  background: linear-gradient(to right, #ff8d00, #f7ad07 70%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0px 10px 37px rgba(255, 94, 16, 0.7);
}
.glass-btn:hover {
  background-color: whitesmoke;
  transform: translateY(-5px);
  transition: all 0.3s;
}

.bottom-left{
  font-weight: 800;
  margin-top:1vw;
}


.alert{
 font-size: smaller;
 color: green;
}


